<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <% date = time.now%>
    <% today = "#{date.strftime('%c')}"
    <h1><%= "The date is  #{today}"%></h1>
  </body>
</html>